body {
    /* border: black; */
    /* border-style: solid; */
    /* border-width: 2px; */
    margin: 0;
    font-size: 12pt;
    font-family: serif;
}

.list-horizontal {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-horizontal-item {
    display: inline-block;
}

.navigation .list-horizontal-item {
}

blockquote {
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    font-style: oblique;
    padding-left: 10px;
    margin-left: 30px;
}

code {
    font-family: monospace;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 20px 20px;
    background-color: lightgray;
}

.header {
    margin-bottom: 40px;
}

.footer {
    margin-top: 40px;
}

.header, .footer {
    /* border: green; */
    /* border-style: solid; */
    /* border-width: 2px; */
    font-family: sans;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;0
    overflow: auto;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header a:hover, .footer a:hover, .tags a:hover {
    text-decoration: none;
    color: dimgray;
}

ul {
    list-style-type: square;
}

.header a, .footer a, .tags a {
    text-decoration: none;
    color: black
}

.tags ul {
    /* list-style: none; */
    /* padding-left: 20px; */
}

.tags .list-bullet {
    padding-right: 5px;
    display: inline;
}

.related ul {
    padding-left: 40px;
}

.header-right {
    /* border: red; */
    /* border-style: solid; */
    /* border-width: 2px; */
    display: flex;
    align-items: center;
}

.navigation {
    /* border: orange; */
    /* border-style: solid; */
    /* border-width:  2px; */
    font-size: 20px;
    margin-right: 20px;
}

.navigation li, .social {
    /* background-color: red; */
    border: silver;
    border-style: solid;
    background-color: silver;
    padding: 5px;
    border-width: 2px;
    border-radius: 4px;
}

.navigation li:hover, .social li:hover {
    /* background-color: red; */
    /* opacity: 0.7; */
    /* border-color: red; */
}

.navigation li:not(:last-child) {
    margin-right: 20px;
}

.social .list-horizontal-item:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 1000px) {
    .header {
        flex-direction: column;
    }
    .header-right {
        flex-direction: column;
        margin-top: 20px;
    }
    .social, .navigation {
        text-align: center;
        margin-right: 0px;
    }
    .navigation {
        margin-right: 0px
    }
    .social {
        margin-top: 10px;
    }
    .header-right .list-horizontal-item {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
    }
    .main {
        width: 95%;
    }
    .content-prefix,
    .content-postfix {
        width: 95%;
    }
    .title {
        margin-left: auto
    }
}

.social {
    /* border: grey; */
    /* bor der-style: solid  */
    /* bord er-width: 2px; */
    font-size: 18px;
}


.title {
    /* border: blue; */
    /* border-style: solid; */
    /* border-width: 2px; */
    font-size: 24px;

    margin-right: auto;
    /* font-variant: small-caps; */
}

.copyright {
    float: left;
    font-size: 16px;
    margin-right: auto;
}

.title, .copyright {
    margin-left: 15px;
}

main {
    width: 50%;
    text-align: justify;
    margin: auto;
}

.footnotes {
    margin-top: 45px;
    text-align: left;
}

h1, h2, h3, h4, h5 {
}

.content {
    /* border: red; */
    /* border-style: solid; */
    /* border-width: 2px; */
    line-height: 1.5em;
    /* text-indent:0 20px; */
}

.content p:not(:last-child) {
    margin-bottom: 25px;
}


.content p code {
    font-family: monospace;
    background-color: lightgray;
}


.content-prefix {
    text-align: center;
}

.heading, .date {
    font-family: sans;
}

.date {
    font-size: 0.85em;
}

.content {
    margin-bottom: 45px;
}

.content-prefix,
.content-postfix {
    /* border: green; */
    /* border-style: solid; */
    /* bordper-width: 2px; */
    margin: auto;
}

.related {
    margin-top: 45px;
}

.image-center {
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 25%;
}

#toc {
    /* padding: 10px; */
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: gray;
    border-style: solid;
    border-width: 1px;
    text-align: initial;
    width: 45%;
    float: right;
}

#toc-heading {
    text-align: center;
}

#TableOfContents ul {
    /* background-color: red; */
}

.tags {
    /* border: purple; */
    /* border-style: solid; */
    /* border-width: 2px; */
}

.toc {
    /* border: brown; */
    /* border-style: solid; */
    /* border-width: 2px; */
}

a:link {
    /* text-decoration: none; */
}

.content a:hover {
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

.pagelist table {
    border-collapse: collapse;
    width: 100%;
}

.pagelist th, td {
    border-bottom: 1px solid #ddd;
}

.pagelist {
    font-family: sans;
}

.pagelist .list-time {
    font-family: monospace;
}


.pagelist tr:hover {
    background-color: #f5f5f5;
}

.pagelist tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagelist th, td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pagelist a {
    text-decoration: none;
}

.brown {
    border: brown;
    border-style: solid;
    border-width: 2px;
}
.orange {
    border: orange;
    border-style: solid;
    border-width: 2px;
}
.red {
    border: red;
    border-style: solid;
    border-width: 2px;
}
.green {
    border: green;
    border-style: solid;
    border-width: 2px;
}
.blue {
    border: blue;
    border-style: solid;
    border-width: 2px;
}
