{{ define "main" }}
  <article>
    <div class="content-prefix">
    <h1 class="heading">
      {{- title .Title -}}
    </h1>
    <time class="date" datetime="{{- .Date.Format "2006-01-02" -}}">
      {{- .Date.Format "2006-01-02" -}}
    </time>
    </div>

    {{- if .Params.toc -}}
    <div id="toc">
    <aside>
      <h3 id="toc-heading">Content</h3>
      {{ .TableOfContents }}
    </aside>
    </div>
    {{- end -}}

    <div class="content">
    {{- .Content -}}
    </div>
    <div class="content-postfix">
    <div class="tags">
    <h3>Tags</h3>
    {{- partial "taglist.html" . -}}
    </div>
    <h3>See also</h3>
    {{- partial "related.html" . -}}
    </div>
  </article>
{{ end }}
