{{ define "main" }}
  <article>
    <div class="level">
      <div class="level-left">
        <div class="level-item content">
          <h1 class="title">
            {{ if (default true (.Params.titlecase)) }}
            {{- title .Title -}}
            {{ else }}
            {{- .Title -}}
            {{ end }}
          </h1>
        </div>
      </div>
      <div class="level-right content">
        <time datetime="{{- .Date.Format "2006-01-02" -}}">
          {{- .Date.Format "2006-01-02" -}}
        </time>
      </div>
    </div>

    <div class="content is-normal">
      {{- .Content -}}
    </div>
    <div class="columns section">
      <div class="column">
        {{ if ne .Params.tags nil }}
        <div class="content">
          <h3>Tags</h3>
          {{- partial "taglist.html" . -}}
        </div>
        {{ end }}
      </div>
      <div class="column">
        {{- partial "related.html" . -}}
      <div class="column">
    </div>


  </article>
{{ end }}

{{ define "aside" }}
{{- if .Params.toc -}}
<h1>Content</h1>
<div>
  {{ .TableOfContents }}
</div>
{{ end }}
{{ end }}
